{% extends 'Frontend/base.html.twig' %}

{% block title %}<title>New Comment</title>{% endblock %}

{% block content %}
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">back to list</a>
{% endblock %}
