{% extends 'Frontend/base.html.twig' %}

{% block title %}<title>Edit Attestation</title>{% endblock %}

{% block content %}
    <h1>Edit Attestation</h1>

    {{ include('attestation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attestation_index') }}">back to list</a>

    {{ include('attestation/_delete_form.html.twig') }}
{% endblock %}
