{% extends 'Frontend/base.html.twig' %}

{% block title %}<title>New Attestation</title>{% endblock %}

{% block content %}
    <h1>Create new Attestation</h1>

    {{ include('attestation/_form.html.twig') }}

    <a href="{{ path('attestation_index') }}">back to list</a>
{% endblock %}
