<!DOCTYPE html>

<title>New Inscri</title>

{% block body %}
    <h1>Create new Inscri</h1>

    {{ include('inscri/_form.html.twig') }}

    <a href="{{ path('inscri_index') }}">back to list</a>
{% endblock %}
