{% extends 'Frontend/base.html.twig' %}

{% block title %}<title>New Messages</title>{% endblock %}

{% block content %}
    <h1>Create new Messages</h1>

    {{ include('messages/_form.html.twig') }}

    <a href="{{ path('messages_index') }}">back to list</a>
{% endblock %}
