{% extends 'Frontend/base.html.twig' %}
{% block title %}<title>Calendrier</title>{% endblock %}

{% block stylesheets %}
    <style>
       #calendrier{
           wi
       }
    </style>
{% endblock %}

{% block content %}
    <div id="calendrier">

    </div>
{% endblock %}