<!DOCTYPE html>
<html>
<head>
    <title>Simple Markers</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
{% block body%}
<div id="map"></div>
<script>
    function initMap() {
        const myLatLng = { lat: 33.8439408, lng: 9.400138 };
        const silianaLatLng = { lat: 35.9715323, lng: 9.3577129 };
        const borjLatLng = { lat: 36.90490860142475, lng: 10.148764674804692 };
        const arianaLatLng = { lat: 36.9685735, lng: 10.1219855 };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Tunis",
        });
        new google.maps.Marker({
            position: silianaLatLng,
            map,
            title: "Siliana",
        });
        new google.maps.Marker({
            position: borjLatLng,
            map,
            title: "Borj",
        });
        new google.maps.Marker({
            position: arianaLatLng,
            map,
            title: "Ariana",
        });
    }
</script>



<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATylepipG5yJcwIjxcwIAYIci-j87TTC8&callback=initMap&libraries=&v=weekly"
        async
></script>
{% endblock %}
</body>
</html>