{% extends 'Frontend/base.html.twig' %}

{% block title %}<title>New Cours</title>{% endblock %}

{% block content %}
    <h1>Create new Cours</h1>

    {{ include('cours/_form.html.twig') }}

    <a href="{{ path('cours_index') }}">back to list</a>
{% endblock %}
