{% extends 'frontendconnected/base.html.twig' %}

{% block content %}

<div class="vertical-space-85"></div>
<div class="vertical-space-85"></div>
<h1> Ajout Skill</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
    <center> <button type="submit" class="btn">ajouter</button> </center>
{{ form_end(form) }}

{% endblock %}
