{% extends 'frontendconnected/base.html.twig' %}

{% block content %}

    <div class="vertical-space-85"></div>
    <div class="vertical-space-85"></div>
    <h1>Update Skills l</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
